* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*start header  */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  z-index: 11;
}

.header .navbar-expand-lg .navbar-nav .nav-link {
  color: white;
  transition: 0.3s;
  position: relative;
}
.header .navbar-light .navbar-nav .active > .nav-link {
  color: #35a22c;
}
.header .navbar-light .navbar-nav .nav-link::before {
  display: block;
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -3px;
  background: #35a22c;
}
.header .navbar-light .navbar-nav .nav-link:hover {
  color: #35a22c;
}
.header .navbar-light .navbar-nav .nav-link:hover::before {
  width: 100%;
  color: #35a22c;
}
/* end header */
/* start carousel */
.carousel__bg {
  height: 100vh;
  object-fit: cover;
}
#carousel .carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#carousel .carousel-caption {
  bottom: 30%;
}
#carousel .carousel-item::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
}
.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.carousel-indicators li.active {
  background-color: #35a22c;
}
/* end carousel */
/* star products */
.products .nav-pills .nav-link {
  color: #1a1d2d;
  border: 1px solid #1a1d2d;
  margin: 0 5px;
}

.products .item__content {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 450px;
  text-align: center;
  cursor: pointer;
}
.products .item__content img {
  height: 350px;
  object-fit: cover;
}
.products .item__content .title {
  padding: 15px;
  height: 100px;
  border: 1px solid white;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-color: white;
  transition: 0.3s;
}
.products .item__content:hover .title {
  color: #35a22c;
  border-color: #35a22c;
  border-top-color: white;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #35a22c;
  color: #fff;
  border-color: #fff;
}
/* end products
 */
/* start features */
.feature {
  background: url(./image/3.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 120px;
  background-attachment: fixed;
  position: relative;
}

.feature .overlay {
  background: rgba(7, 10, 12, 0.72);
}

.feature .heading {
  position: relative;
}
.overlay {
  background: rgba(39, 43, 54, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.item__features {
  padding: 40px 40px;
  transition: 0.3s;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}

.item__features i {
  font-size: 48px;
  color: #35a22c;
}

.item__features h4 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}

.item__features p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.item__features:hover {
  background: #000;
  border-color: #fff;
}
.fa-camera:before {
  content: "\f030";
}
.fa-shekel-sign:before {
  content: "\f20b";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.text-white {
  color: #fff !important;
}
/* end features */
/* start award */
.award {
  position: relative;
  color: #585858;
  padding: 70px 0;
}

.award__bg {
  background-image: url(./image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.award__left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  padding: 45px;
  width: 450px;
  height: 280px;
  margin-left: 50%;
}

.award__right {
  width: 70%;
  padding: 45px;
  margin-left: 25%;
}
/* end award */
/* start footer */
.footer {
  background: #222;
  width: 100%;
  height: 225px;
}

.footer p {
  color: #aaa;
  margin: 0;
}

.footer a:hover {
  text-decoration: none;
  color: #35a22c;
}

.main_footer i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all 0.5s;
  color: #aaa;
  margin-top: 50px;
}

.main_footer a {
  margin-right: 10px;
}

.main_footer a:last-child {
  margin-right: 0;
}

.footer__copies {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}

.main_footer i:hover {
  border-color: #35a22c;
}

/* end footer */
